// ======================================================
// Layout :: Content
// ======================================================

//section banner

.banner{
    //height: 600px;
    //background: linear-gradient(180deg,#f1fffb,rgba(255,255,255,0) 100%);
    //background: #F2F8FB;
    //background: #E9F8F8;
    background:  url("../img/shape-45.png") no-repeat left bottom,url("../img/shape-46.png") no-repeat right top;
    background-color: #E9F8F8;

    //.slidebanner{
    //    height: 100%;
    //}
    //.swiper-container{
    //    height: 100%;
    //}
}
.flex-banner{
    padding: 50px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    min-height: 600px;
    .txt-banner{
        flex: 0 0 50%;
    }
    .img-banner {
        flex: 0 0 50%;
        display: flex;
        flex-direction: row-reverse;
    }

}
.heading-banner {
    font-size: 46px;
    font-weight: 600;
    line-height: 1.35;
    margin-bottom: 20px;
}

.sub-banner{
    font-size: 22px;
    line-height: 1.35;
    color: #60697B;
    margin-bottom: 35px;
}
.link-banner{
    display: inline-flex;
    align-items: center;
    font-weight: 700;
    line-height: 1.7;
    border-radius: 6px;
    padding: 10px 24px;
    color: #fff;
    background-color: #00a47c;
    border-color: #00a47c;
    transition: all .2s ease-in-out;
    font-size: 17px;
    &:hover{
        transform: translateY(-.15rem);
        box-shadow: 0 0.25rem 0.75rem rgba(30, 34, 40, 0.15);
        color: #fff;
        transition: all .2s ease-in-out;
    }
}
.swiper-pagination-bullet-active {
    background: #00a47c;
    width: 24px!important;
}

.swiper-pagination-bullet{
    width: 14px;
    border-radius: 6px;
}

// utilities

.utilities{
    //background: url("../img/shape-3.png") no-repeat left top, url("../img/shape-4.png") no-repeat right top;
}
.tilte-sc{
    font-size: 38px;
    text-align: center;
    width: 66.67%;
    margin:  0 auto 10px;
}
.title-utilities{
    font-size: 22px;
    text-align: center;
    margin-bottom: 10px;
    font-weight: 700;
    position: relative;
    transition: all 500ms ease;
}
.box-utilities{
    padding: 40px;
    box-shadow: 0 .25rem 1.75rem rgba(30,34,40,.07);
    background: #fff;
    text-align: center;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    height: 100%;

    &:before{
        position: absolute;
        content: '';
        width: 100%;
        height: 0%;
        left: 0;
        bottom: 0;
        transition: all 500ms ease;
        background: #007659;
    }
    &:hover{
        &:before{
            height: 100%;
            top: 0;
        }
        .sub-utilities,.title-utilities{
            color: #fff;
            transition: all 500ms ease;
        }
        img{
            filter: invert(100%) sepia(0%) saturate(7439%) hue-rotate(320deg) brightness(793%) contrast(241%);
        }
    }
    img{
        margin-bottom: 15px;
        height: 51px;
    }
}
.sub-utilities{
    font-size: 17px;
    margin-bottom: 15px;
    color: #60697B;
    line-height: 27px;
    position: relative;
    transition: all 500ms ease;
}
.viewmore-utilities{
    text-align: center;
    display: inline-block;
    color: $c-dark;
    font-weight: 700;
    position: relative;
    background: #f2f3f5;
    font-size: 14px;
    line-height: 25px;
    padding: 7.5px 22px;
    border-radius: 30px;
    transition: all 500ms ease-in-out;

    &:hover{
        color: $c-gr;
        transition: all 500ms ease-in-out;

    }
    &:hover{


    }
    i{

    }
}
.dlab-separator{
    position: relative;
    height: auto;
    width: 150px;
    display: inline-block;
    margin-bottom: 10px;
    &:before{
        content: "";
        height: 6px;
        position: absolute;
        left: 0;
        top: 0;
        border-radius: 15px;
        right: 40px;
        width: 45px;
        background-size: 200%;
        background-image: linear-gradient(to right, #017759 0%, #1ea434 51%, #00d4ff 100%);
    }
    &:after{
        background-size: 200%;
        width: 95px;
        left: 55px;
        content: "";
        height: 6px;
        position: absolute;
        top: 0;
        border-radius: 15px;
        background-image: linear-gradient(to right, #017759 0%, #1ea434 51%, #00d4ff 100%);


    }
}

//product-services

.product-services{
    background:  url('../img/shape-7.png') no-repeat top right,url('../img/shape-6.png') no-repeat left bottom;
    //background-size: cover;
    background-color: #E9F8F8;
}
.box-product{
    box-shadow: 0 .25rem 1.75rem rgba(30,34,40,.07);
    background: #fff;
    border-radius: 20px;
    background-clip: border-box;
    border: 0;
    padding: 40px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.3s ease-in-out;

    &:hover{
        transform: translateY(-10px);
        transition: all 0.3s ease-in-out;
    }
    .title-product{
        font-weight: 700;
        font-size: 21px;
        margin-bottom: 20px;
        color: $c-gr;
    }
    .list-services{
        margin-bottom: 40px;
        li{
            &:hover{
                a{
                    transform: translateX(10px);
                    transition: all 0.3s ease-in-out;
                    color: $c-gr;
                }
            }
            a{
                //color: #000;
                font-size: 17px;
                display: block;
                transition: all 0.3s ease-in-out;
                padding: 10px 0;
                i{
                    margin-right: 8px;
                    font-size: 17px;
                    font-weight: 600;
                    color: $c-gr;
                }
            }
        }
    }
    .view-detail{
        position: relative;
        display: inline-block;
        font-size: 14px;
        line-height: 25px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 700;
        color: $c-dark;
        background: #f2f3f5;
        text-align: center;
        border-radius: 30px;
        padding: 7.5px 27px;
        z-index: 1;
        transition: all 500ms ease;
        width: 128px;
        &:hover{
            background: $c-gr;
            color: #fff;
            transition: all 500ms ease;

        }
    }
}

//trading
.box-trading{
    display: flex;
    align-items: center;
    box-shadow: 0 0.25rem 0.75rem rgba(30, 34, 40, 0.15);
    border-radius: 20px;
    padding: 40px;
    transition: all 0.3s ease-in-out;
    &:hover{
        color: $c-gr;
        box-shadow: 0 0.55rem 0.75rem rgba(30, 34, 40, 0.15);
        transition: all 0.3s ease-in-out;
        .title-trading{
            transition: all 0.3s ease-in-out;

        }
        .box-trading-img{
            &:before{
                content: '';
                transform: scale(1,1);
            }
            img{
                &:first-child{
                    display: none;
                }
                &:last-child{
                    display: block;
                }
            }
        }

    }
}
.box-trading-img{
    background: #EDF2F7;
    border-radius: 50%;
    width: 90px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    position: relative;
    &:before{
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        right: 0;
        border-radius: 50%;
        transform: scale(0,0);
        transition: all 500ms ease;
        background: $c-gr;
    }

    //i{
    //    color: $c-gr;
    //    font-size: 40px;
    //    position: relative;
    //    z-index: 1;
    //}
    img{
        width: 40px;
        z-index: 1;
        &:first-child{
            display: block;
        }
        &:last-child{
            display: none;
        }
    }
}



.box-trading-text{
    .title-trading{
        display: block;
        line-height: 26px;
        font-weight: 700;
        margin-bottom: 9px;
        font-size: 20px;
        transition: all 0.3s ease-in-out;
    }
    .sub-trading{
        font-size: 16px;
        color: $c-dark;
    }

}

//account 

.account{
    background: url("../img/shape-50.png") no-repeat left 12% center, url("../img/shape-50.png") no-repeat right center;
    background-color: #22b6af;
    .tilte-sc{
        color: #fff;
        text-align: left;
        margin: 0;
    }
}
.flex-acount{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.btn-openac{
    padding: 19px 51px 20px 51px;
    border-radius: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    font-size: 17px;
    line-height: 25px;
    font-weight: 600;
    background: #fff;
    z-index: 1;
    transition: all 500ms ease;
    &:hover{
        color: $c-gr;
        transform: translateY(-0.15rem);
        box-shadow: 0 0.25rem 0.75rem rgba(30, 34, 40, 0.15);
    }
}