// ======================================================
// Layout :: Footer
// ======================================================

.back-to-top{
  position: fixed;
  bottom: 25px;
  right: -45px;
  width: 40px;
  height: 40px;
  background: transparent;
  color: #007659;
  text-align: center;
  line-height: 36px;
  font-size: 18px;
  font-weight: bold;
  background-size: 100% 100%;
  z-index: 100;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: all 0.3s ease-in-out;
  border: 2px dashed #007659;
  &.active{
    right: 25px;
    transition: all 0.3s ease-in-out;

  }
  &:hover{
    border: 2px dashed $c-dark;
    color: $c-dark;
  }
}

